<article class="theme" role="main">
  <header class="theme-header">
    <h1 class="theme-title">With Associates</h1>
  </header>

  <ul class="theme-links">
    <% @people.each do |person| %>
      <li><%= link_to person.name, person_path(person) %></li>
    <% end %>
  </ul>
</article>

