<section class="people" role="main">
  <header class="people-header">
    <h1 class="people-title">With</h1>
  </header>

  <ul class="people-list">
    <% @people.each do |person| %>
      <li>
        <%= link_to person.name, person_path(person), class: 'person-link' %>
      </li>
    <% end %>
  </ul>
</section>

