<article class="theme" role="main">
  <header class="theme-header">
    <h1 class="theme-title"><%= @person.name %>'s Links</h1>
  </header>
  
  <ul class="theme-links">
    <%= render @links %>
  </ul>

  <%= will_paginate @links %>
</article>
