<section class="themes">
  <ul class="theme-list">
    <% @themes.each do |theme| %>
      <li class="theme-list-item">
        <%= link_to theme_path(theme), class: 'theme listing' do %>
        <div class="theme-list-item-content-container">
          <div class="theme-list-item-content">
            <div class="dog-ear"></div>
            <% if theme == @themes.first %>
              <div class="latest-issue">
                <span>Latest Issue</span>
              </div>
            <% end %>
            <h4 class="theme-reference">Vol. 2 / Issue <%= theme.issue_number %></h4>
            <h3 class="theme-title"><%= theme.title %></h3>
            <h5 class="theme-date"><%= theme.issue_date %></h5>
            <div class="right-arrow"></div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>