<section class="index-masthead">
  <div class="container">
    <h1>With Links</h1>
    <p class="index-masthead-intro">Lorem ipsum dolor sit amet, consectetuer diam adipiscing, sed dolor nonummy</p>
    <button>Subscribe to With Links</button>
  </div>
</section>

<section class="index-current-links">
  <div class="container">
    <h2 class="index-section-heading">Theme <%= @theme.issue_number %>: <%= @theme.title %></h2>
    <div class="link-list-wrapper">
      <ul class="link-list">
        <%= render @theme.links %>
      </ul>
      <%= link_to "View All Themes", themes_path %>
    </div>
  </div>
</section>

<div class="container">
  <hr>
</div>

<section class="index-subscribe">
  <div class="container">
    <h2 class="index-section-heading">Subscribe to With Links</h2>
    <form class="index-subscribe-form">
      <label>Email Address</label>
      <input type="email">
      <button>Submit</button>
    </form>
  </div>
</section>
