<header id="header" role="banner">
  <div class="container">
    <h1 class="header-title"><span>With</span>Links</h1>
    <h2 class="header-subtitle">From <a href="http://withassociates.com">With Associates</a></h2>

    <div class="header-text">
      <p>
        Once a week we send out an issue of With Links. Nine links on a weekly
        theme, from the nine of us at With.
      </p>
    </div>

    <%= render "shared/sign_up" %>
  </div>
</header>
