<nav id="navigation" role="navigation">
  <ul class="navigation">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Themes", themes_path %></li>
    <li><%= link_to "Top 10 Links", top_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</nav>
