<div class="sign-up">
  <h2 class="sign-up-title">Get With Links in your inbox every Friday</h2>

  <form class="sign-up-form" action="http://withassociates.createsend.com/t/r/s/gdijlk/" method="post">
    <input type="email" class="sign-up-field" placeholder="your@email.com" name="cm-gdijlk-gdijlk">
    <button type="submit" class="sign-up-button">Submit</button>
  </form>
</div>
