.button {
  @include reset-field;

  display: block;
  position: relative;

  padding: 0.8125em 1.25em;

  text-decoration: none;

  background: transparentize(black, 0.8);
  color: white;

  @include transition(background 0.1s linear, color 0.1s linear);

  &:hover {
    background: transparentize(black, 0.5);
  }
}
