.sign-up-form {
  position: relative;

  clear: both;
  overflow: hidden;

  border-radius: 2px;
  width: 100%;
  height: 2.95em;

  border-top: 1px solid rgba(0,0,0,0.2);
}

.sign-up-field,
.sign-up-button {
  @include reset-field;

  padding: 0.6875em;
  height: 2.95em;

  font-family: $sans;
  font-size: 16px;
  line-height: 1.5;

  background: $wa-white;
  color: $wa-dark;

  -webkit-font-smoothing: antialiased;

  @include placeholder {
    font-style: italic;
    color: transparentize(black, 0.5);
  }
}

.sign-up-field {
  display: block;
  @include position(absolute, 0px 0px 0px 0px);
  @include box-sizing(border-box);
  width: 100%;
}

.sign-up-button {
  display: block;
  @include position(absolute, 1px 0px 0px 0);

  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;

  &:after {
    content: '';
    display: block;

    @include position(absolute, 50% 0.6875em 0 0.6875em);

    margin-top: 0.5em;
    height: 2px;
    background: $wa-dark;
  }
}
