#header {
  overflow: hidden;
  padding: 1.8em 1em 30px 1em;

  font-size: 14px;
  line-height: 1.5em;

  text-align: center;
  background: $wl-blue;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  a { font-weight: 700; }

  .container {
    margin: 0 auto;
    max-width: 540px;
  }

  .icon-twitter {
    font-size: 0.825em;

    span {
      position: absolute;
      left: -9999em;
    }
  }
}

a.header-root-link {
  text-decoration: none;
}

.header-title {
  display: block;
  overflow: hidden;

  margin: 40px auto 25px auto;

  img { max-width: 100%; }

  @media (max-width: 380px) {
    img {
      width: auto;
      height: auto;
    }
  }
}

.header-text {
  margin: 0 auto 50px auto;
  font-size: 1.12em;
}

.nav-item {
  margin: 0 10px;

  text-decoration: none;

  .icon-twitter {
    font-size: 1em !important;

    span {
      position: absolute;
      left: -9999em;
    }
  }
}

.flash-thanks {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid white;
  color: white;
}
