#header {
  overflow: hidden;
  padding: 1.8em;

  font-size: 14px;
  line-height: 1.5em;

  text-align: center;
  background: $wl-blue;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  a { font-weight: 700; }

  .container {
    margin: 0 auto;
    max-width: 540px;
  }
}

a.header-root-link {
  text-decoration: none;
}

.header-title {
  margin: 0.4477em 0 0.4477em 0;

  font-size: 4em;
  line-height: 1.5em;

  span { color: white; }
}

.header-text {
  margin: -1.5em auto 3em auto;
  font-size: 1.12em;
}

.nav-item {
  margin: 0 10px;

  text-decoration: none;
}

.icon-twitter {
  font-size: 1em !important;

  span {
    position: absolute;
    left: -9999em;
  }
}

.flash-thanks {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid white;
  color: white;
}
