@font-face {
  font-family: 'With Icons';
  src: font-url('WithIcons.eot');
  src: font-url('WithIcons.eot?#iefix') format('embedded-opentype'),
       font-url('WithIcons.woff') format('woff'),
       font-url('WithIcons.ttf') format('truetype'),
       font-url('WithIcons.svg#WithIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon, .icons, [class*="icon-"] {
  font-family: 'With Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before { content: "\e60b"; }
.icon-twitter:before { content: "\e600"; }
.icon-phone:before { content: "\e601"; }
.icon-menu:before { content: "\e602"; }
.icon-mail:before { content: "\e603"; }
.icon-instagram:before { content: "\e604"; }
.icon-github:before { content: "\e605"; }
.icon-flickr:before { content: "\e606"; }
.icon-close:before { content: "\e607"; }
.icon-slash:before { content: "\e608"; }
.icon-right:before { content: "\2192"; }
.icon-left:before { content: "\2190"; }
.icon-chevron-right:before { content: "\e609"; }
.icon-duolingo:before { content: "\e60a"; }
