.link-list {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.link-list a {
  border-color: #cccccc;
  color: #999999;
}

.link-list .link-list-headings a {
  border-color: #999999;
  color: #333333;
}

.link-list-headings { margin: 24px 0; }

.link-list-description { word-wrap: break-word; }

.link-list-description p { margin-top: -12px; }

.link-list-image {
  display: block;

  margin: 24px auto;
  max-width: 128px;
  width: 100%;

  border-radius: 50%;
}

.link-list-person:after { content: ':'; }

.link-list-person,
.link-list-title {
  display: inline;

  margin: 24px 0;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.link-list-title { margin-top: -24px; }

.link-list-wrapper {
  margin: 24px 0;
}

@media (min-width: 320px) {
  .link-list {
    margin: -24px -12px;

    font-size: 0;
    line-height: 0;
    text-align: left;
  }

  .link-list-column {
    box-sizing: border-box;

    display: inline-block;

    padding: 0 12px;

    vertical-align: middle;
  }

  .link-list-image-column { width: 30%; }
  .link-list-text-column  { width: 70%; }

  .link-list-column-content {
    font-size: 16px;
    line-height: 1.5em;
  }
}

@media (min-width: 480px) {
  .link-list-image-column { width: 15%; }
  .link-list-text-column  { width: 85%; }
}


@media (min-width: 1440px) {
  .link-list-column-content {
    font-size: 19.2px;
    line-height: 1.5em;
  }
}
