.primary-nav {
  overflow: hidden;
  margin-bottom: -30px;

  background: $wa-blue;
}

.primary-nav .container { margin: 24px auto; }

.primary-nav-page-list {
  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;
}

.primary-nav-page-list-item {
  display: inline;

  margin: 0 12px;

  a {
    border: none;
    color: mix(black, $wa-blue, 50%);
  }
}