.sign-up-form {
  position: relative;

  clear: both;
  overflow: hidden;

  border-radius: 2px;
  width: 100%;
  height: 2.95em;

  border-top: 1px solid rgba(0,0,0,0.2);
}

.sign-up-title {
  font-size: 1.12em;
}

.sign-up-field,
.sign-up-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;

  @include appearance(none);

  padding: 0.6875em;
  height: 2.95em;

  font-family: $sans;
  font-size: 1em;
  line-height: 1.5;

  background: white;
  color: $wl-blue;

  -webkit-font-smoothing: antialiased;

  @include placeholder {
    color: $wl-blue;
  }
}

.sign-up-field {
  display: block;
  @include position(absolute, 0px 0px 0px 0px);
  @include box-sizing(border-box);
  width: 100%;
}

.sign-up-button {
  display: block;
  @include position(absolute, 0px 0px 0px 0);

  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;

  &:after {
    content: '';
    display: block;

    @include position(absolute, 50% 0.6875em 0 0.6875em);

    margin-top: 0.5em;
    height: 2px;
    background: $wl-blue;
  }
}
