.sign-up-form {
  position: relative;

  clear: both;
  overflow: hidden;

  border-radius: 2px;
  width: auto;
  margin: 0 50px;
  height: 3.95em;

  border-top: 1px solid rgba(0,0,0,0.2);

  @media screen and (max-width: 459px) {
    margin: 0;
  }
}

.sign-up-title {
  font-size: 1.12em;
}

.sign-up-field,
.sign-up-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;

  @include appearance(none);

  padding: 1.25em;
  height: 3.95em;

  font-family: $sans;
  font-size: 1em;
  line-height: 1.5;

  background: white;
  color: $wl-blue;

  -webkit-font-smoothing: antialiased;

  @include placeholder {
    color: $wl-navy;
  }
}

.sign-up-field {
  display: block;
  @include position(absolute, 0px 0px 0px 0px);
  @include box-sizing(border-box);
  width: 100%;

  color: $wl-navy;
}

.sign-up-button {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0;

  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;

  &:after {
    content: '';
    display: block;

    @include position(absolute, 50% 1.25em 0 1.25em);

    margin-top: 0.75em;
    height: 2px;
    background: $wl-blue;
  }
}
