@font-face {
  font-family: 'Colfax';
  src: font-url('ColfaxWebRegular.eot');
  src: font-url('ColfaxWebRegular.eot#iefix') format('embedded-opentype'),
       font-url('ColfaxWebRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: font-url('ColfaxWebRegularItalic.eot');
  src: font-url('ColfaxWebRegularItalic.eot#iefix') format('embedded-opentype'),
       font-url('ColfaxWebRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Colfax';
  src: font-url('ColfaxWebBold.eot');
  src: font-url('ColfaxWebBold.eot#iefix') format('embedded-opentype'),
       font-url('ColfaxWebBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$sans: 'Colfax', sans-serif;

body {
  font-family: $sans;
  font-size: 18px;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
