<!DOCTYPE html>
<html>
<head>
  <title>WithLinksV2</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="primary-nav">
    <div class="container">
      <ul class="primary-nav-page-list">
        <li class="primary-nav-page-list-item"><a href="#">Home</a></li>
        <li class="primary-nav-page-list-item"><a href="#">Themes</a></li>
        <li class="primary-nav-page-list-item"><a href="#">About</a></li>
      </ul>
    </div>
</nav>
<%= yield %>

</body>
</html>
